.delete {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity ease 0.5s;
}

.delete::before,
.delete::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.delete::before {
    transform: rotate(45deg);
}

.delete::after {
    transform: rotate(-45deg);
}

.delete:hover {
    opacity: .2;
}

.errors {
    position: absolute;
    color: red;
}